<div class="my-5">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: black;">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
               "Travel opens your heart, broadens your mind, and fills your life with stories to tell"
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
  
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(189, 14, 113, 0.2)"
           >
        © 2023 Copyright:
        <a class="text-white" href="#"
           >kertrek.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>