<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/images/kerala1.jpg" class="d-block w-100" alt="..." style="height: 500px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/images/3-kerala-wedding-photographer-weddingnovels.jpg" class="d-block w-100" alt="..." style="height: 500px;">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Paravoor--lake--kollam-kerala-tourism-shut.jpg" class="d-block w-100" alt="..." style="height: 500px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container text-center"></div>
  <div class="row">
    <div class="col-8"><p>
        Encompassing serenity, Kerala is a charming South Indian destination that should be in every traveller’s bucket list. <br>
        Adorned with the emerald backwaters, sprawling and lush tea estates, pristine hill stations, and azure Arabian Sea <br> 
        Kerala tourism boasts numerous tourist places with which you will fall in love instantly.

In North Kerala, districts like Kasaragod, Kannur, Wayanad, Kozhikode, and Malappuram have many attractions for the tourists. <br>
Wayanad offers a lovely hill station holiday whereas Kozhikode offers a great beach holiday and an opportunity of bird watching.
    </p></div>
    <div class="col-4"><form class="row g-3" >
        
        <div class="col-auto"  >
            <label for="inputPassword2" class="visually-hidden">email</label>
            <input type="email" class="form-control" id="inputPassword2" placeholder="email">
          </div>
        
        
        
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">login</button>
        </div>
      </form></div>
  </div>

